<!DOCTYPE html>
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
{% bootstrap_javascript %}
    <title>Remover Clientes</title>
</head>
<body class="container">
    <h1>{{cliente.nome}}</h1>
     <li>{{cliente.nome}}</li>
     <li>{{cliente.data_nascimento}}</li>
     <li>{{cliente.email}}</li>
     <li>{{cliente.profissao}}</li>

   

   <form action="" method="post">
    {% csrf_token %}

    <input type="submit" class="btn btn-primary" value="Remover">
</form>
</body>
</html>